@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

.button {
    margin: 5px;
    color: #64BBBC;
    text-decoration: none;
}

.button:hover {
    color: #BF7B35;
}

a {
    color: #64BBBC;
    text-decoration: none;
}

a:hover {
    color: #BF7B35
}

a img {
    width: 100px;
}

a img:hover {
    transform: scale(1.05)
}

.navigation {
    background-color: #36322C;
}

.big-logo {
    animation: rotation 60s infinite linear;
    margin-left: 15%;
    width: 70%;

}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}


.form-button {
    background-color: black;
    color: #64BBBC;
    border: solid 2px #64BBBC;
    border-radius: 6px;
}

.form-button:hover {
    color: #BF7B35;
    border: solid 2px #BF7B35;
}

.alt-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    border: solid 3px #CBC9CB;
    border-radius: 10px;
}

.alt-form .form-button {
    margin: 5px;
    width: 75%;
}

.form-layout {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-layout .form-button {
    margin: 5px;
    width: 75%;
}

.radio-entry {
    display: flex;
    flex-direction: row;
}

.machine-list {
    display: flex;
    flex-direction: column;
}

.mach-eng {
    display: flex;
    flex-direction: row;
}

.remove {
    background-color: black;
    color: #64BBBC;
    border: 0;
    text-decoration: underline;
}

.remove:hover {
    color: #BF7B35;
}

.details {
    width: 50%;
    float: left;
}

.inspec-log {
    border: solid 3px #CBC9CB;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    float: right;
}

.delete {
    margin: 10px;
    background-color: black;
    color: #64BBBC;
    border: solid 2px #64BBBC;
    border-radius: 6px;
}

.delete:hover {
    color: #C1292E;
    border: solid 2px #C1292E;
}

.nvm {
    margin: 10px;
    background-color: black;
    color: #64BBBC;
    border: solid 2px #64BBBC;
    border-radius: 6px;
}

.nvm:hover {
    color: #72B01D;
    border: solid 2px #72B01D;
}

.eng-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.card {
    margin: 5px;
    background-color: black;
    border: solid 3px #64BBBC;
    border-radius: 10px;
}

.card:hover {
    border: solid 3px #BF7B35;
}

.content {
    padding: 25px;
}

body {
    background-color: black;
    font-family: 'Electrolize', sans-serif;
    color: #CBC9CB;
}