@model Factory.Models.Machine

<div class=content>
    <h2>Are you sure you want to decommission the @Model.Name?</h2>

    @using (Html.BeginForm())
    {
        <input class=delete type="submit" value="Yes, decommission" />
    }

    @using (Html.BeginForm("Details", "Machines", new { id = Model.MachineId }))
    {
        <input class=nvm type="submit" value="Nevermind" />
    }
</div>