@using Factory.Models

<div class=content>
    <div class=home-display>
        <div class=total>
            <h3>Engineers:</h3>
            <h1>@Model["engs"]</h1>
        </div>
        <div class=total>
            <h3>Machines:</h3>
            <h1>@Model["machs"]</h1>
        </div>
        <div class=total>
            <h3>Inspections:</h3>
            <h1>@Model["inspecs"]</h1>
        </div>
        <div class=total>
            <h3>Accidents:</h3>
            <h1>@Model["accs"]</h1>
        </div>
    </div>

    <img class="big-logo" src="~/images/asteroid_big_noback.png" alt="Big logo">
</div>
